@*Define the component as layout component. Provides common UIs which are required by multiple pages.*@
@inherits LayoutComponentBase

@*Custom made component.*@
<Header />

<main class="container mt-5 mb-5">
    @*The page content is rendered here.*@
    @Body
</main>
